<!DOCTYPE html>

<html>
   <head> 
  <link rel="stylesheet" href="/css/style.css">
  </head>
  <body>
    {{>header}}
     <img class = 'potrait' src = '/image/aanshu.jpg'>
     {{>footer}}
    
  </body>
</html>
